@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Regular.ttf') format('truetype'),
         url('./fonts/Satoshi-Bold.ttf') format('truetype'); /* Add different font files if necessary */
    font-weight: normal;
    font-style: normal;
}

.childTodo {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.todo {
    background-color: aquamarine;
}

.body {
    background-color: #99AAAB;
    font-family: 'Satoshi', sans-serif;
}
