

/* Screen1.css */

.screen1-container {
    background-color: #002A5A; /* Light blue background */
    min-height: 100vh;
    padding: 20px;
  }
  
/* Apply filter to make the image white */
.filter-white {
  filter: brightness(0) invert(1);
}
